body {
  margin: 0;
  background-color: #b9cdcc;
}
.scroll-fix {
  height: 6rem;
}
/* DISPLAY&POSITION */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.card .flex {
  align-content: center;
  justify-content: center;
}
.grid {
  display: grid;
}
.not-hover-state {
  grid-template-rows: 95% 5%;
}
.hover-state {
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-content: center;
}
.hover-state h2 {
  margin: 0;
}
.hover-state .project-links-wrapper a {
  text-transform: uppercase;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.projects-wrapper {
  flex-direction: column;
}

/* NAV */
header {
  background-color: #315258;
  /* z-index: 10; */
}
ul {
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 2rem 2.5rem;
  justify-content: space-around;
}

/* TEXT */
a {
  text-decoration: none;
}
.f-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.f-impact {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}
.f-helvetica {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #b9cdcc;
  margin: 0 0 1.5rem 0;
}
h2 {
  font-size: 1rem;
}
p {
  margin: 1rem 0;
}
p,
.project-links-wrapper a {
  font-size: 0.5rem;
  display: block;
}
nav a {
  color: #f5fefa;
}
nav {
  font-size: 1.2rem;
}
.project-links-wrapper a {
  color: white;
}
nav a:hover {
  text-decoration: underline;
}

/* SECTIONS */
section {
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  background-color: #e8efec;
}
.projects-wrapper {
  gap: 1.5rem;
}
.card {
  background-color: #012c3f;
  color: white;
  padding: 1rem;
  height: 35vh;
  /* max-width: 50vh; */
  box-shadow: 4px 4px 10px 0px #64827e;
  transition: 1s;
  cursor: pointer;
}
/* .rainydays-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/img/rainydays-screenshot.png");
  
}
.cms-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/img/cms-screenshot.png");
}
.microtic-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/img/microtic-screenshot.png");
} */
.card:hover {
  border-radius: 30px;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%; */
}
.project-img-wrapper img {
  width: 30vh;
}
img {
  object-fit: contain;
}
.project-tag {
  align-self: end;
  margin: 0;
  text-align: center;
  color: #8eb2c8;
  font-size: 0.8rem;
}
.qualifications-wrapper {
  flex-direction: column;
}
.contact-icons-wrapper,
.qualifications-icons-wrapper {
  margin-bottom: 1.5rem;
  gap: 1rem;
}
i {
  font-size: 2rem;
  color: #64827e;
  transition: 0.3s;
}
i:hover {
  font-size: 2.5rem;
}
.icon-wrapper {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}
/* FOOTER */
.logo-wrapper {
  width: 20vh;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
}
.logo-wrapper img {
  width: 100%;
}

@media (min-width: 850px) {
  .projects-wrapper {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contact-qualifications-sections,
  #contact,
  #qualifications {
    grid-template-columns: 1fr 1fr;
  }
  .contact-qualifications-sections h1,
  .contact-icons-wrapper,
  .qualifications-icons-wrapper {
    margin: 0;
  }
  .contact-icons-wrapper,
  .qualifications-icons-wrapper {
    justify-content: flex-end;
  }
  ul {
    justify-content: flex-start;
  }
  .logo-wrapper {
    width: 40vh;
    padding: 4rem;
  }
}
