// Bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "typewriter.scss";
@import "reveal.scss";

.mobile {
  display: inline-block;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.desktop {
  display: none;

  @include media-breakpoint-up(sm) {
    display: inline-block;
  }
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  height: 5vh;
  z-index: 10;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 67.5vh;

  @include media-breakpoint-up(sm) {
    top: 47.5vh;
  }
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #ffff;
}

img {
  object-fit: cover;
  width: 100%;
}

/* DISPLAY */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
}

/* HEADER */
header {
  height: 100vh;
}
header .header {
  background: top / cover no-repeat url("/img/background_header.svg");
  z-index: 10;
  padding: 1rem;
  height: 70vh;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @include media-breakpoint-up(sm) {
    height: 50vh;
  }
}

header .header-logo-container {
  width: 30vw;
  max-width: 900px;

  @include media-breakpoint-up(sm) {
    width: 60vw;
  }
}

header .header-logo-container.desktop {
  padding-top: 4rem;
}

header .header-logo-container img {
  margin-left: auto;
  margin-right: auto;
}

header .header-tagline {
  // color: #012c3f;
  color: #534f48;
  font-weight: 200;
}

header .header-tagline .webdev {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

header .header-tagline .name {
  font-size: 1.5rem;
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

// NAV
nav ul {
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  font-weight: 200;
  width: auto;
}

nav.header ul {
  align-items: center;
  gap: 1rem;

  @include media-breakpoint-up(sm) {
    gap: 2rem;
  }
  @include media-breakpoint-up(lg) {
    gap: 3rem;
  }
}

footer nav ul {
  flex-direction: column;
  gap: 0.2rem;
}

footer nav a {
  color: white !important;
}

footer nav .fl-right a {
  float: right;
  clear: right;
}

footer nav .fl-left a {
  float: left;
  clear: left;
}

// LINK HOVER
a {
  letter-spacing: 0.05em;
  position: relative;
  width: auto;
}

a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.header a:after {
  background: #2f2d2d;
}

footer a:after {
  background: #ffffff;
}

// SECTIONS
section {
  margin: 0;
  gap: 2rem;
}

section.services {
  height: 100vh;
}
section.projects {
  height: 100vh;
}
section.contact {
  height: 100vh;
}

section.big-quote {
  background: center / cover no-repeat url("/img/background_launch-test.png");
  height: 30vh;

  @include media-breakpoint-up(sm) {
    height: 50vh;
  }
}

section.big-quote .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.big-quote blockquote {
  color: #f5fefa;
  font-size: 1.5rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.typewriter {
  margin-top: 2.5vh;
}

section,
footer,
footer .center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

section,
footer .center-container {
  flex-direction: column;
}

section h1 {
  text-transform: uppercase;
  font-size: 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}

section.services {
  background-color: #e8efec;
}

section.services h1 {
  color: #d8e2df;
}

section.bullets {
  padding: 2rem 0;

  @include media-breakpoint-up(sm) {
    padding: 4rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 8rem 0;
  }
}
section.bullets h2 {
  font-size: 1rem;
  font-weight: 600;
}

section.bullets .col {
  color: #012c3f;
  padding: 1.5rem;
  background-color: white;
  z-index: 9;

  @include media-breakpoint-up(sm) {
    min-width: 250px;
  }
}

section.bullets h2 {
  margin-bottom: 0.7rem;
  text-decoration: underline;
  color: #494134;
  font-size: 1.3rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}
section.bullets p {
  margin: 0;
  color: #494134;
}

section.bullets {
  background-color: #f5eee3;
  // border: solid 1rem white;
}

div .work-img {
  height: 47.5vh;
}

section.projects {
  background-color: #f5eee3;
}

section.projects h1 {
  color: #dddbd3;
}

section.contact {
  background-color: #b9cdcc;
}

section.contact h1 {
  color: #759092;
}

//FOOTER

footer {
  background-color: #012c3f;
  height: 80vh;
  position: relative;
}

footer .row {
  margin-right: auto;
  margin-left: auto;
}

footer .center-container {
  gap: 1rem;
}

footer .footer-logo {
  width: 25vw;
}

footer .powered-by {
  color: #bfd0db;
  font-weight: 200;
  text-transform: uppercase;
}

/* GLOBAL TEXT STYLING */
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

a {
  text-decoration: none;
}
.f-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.f-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
.f-vidaloka {
  font-family: "Vidaloka", serif;
}
h1 {
  font-weight: 800;
  margin: 0 0 1.5rem 0;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin: 1rem 0;
  font-size: 0.8rem;
}

@media (min-width: 390px) {
}
@media (min-width: 550px) {
  .project-logo-wrapper img {
    width: 40%;
  }
}
@media (min-width: 850px) {
  section {
    margin: 0;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1500px) {
}
@media (min-width: 1900px) {
}
@media (hover: hover) {
  @media (min-width: 850px) {
  }
  @media (min-width: 1500px) {
  }
}
