// Bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
body {
  margin: 0;
  background-color: #ffff;
}

// section {
//   margin: 0.5rem 1rem;
//   padding: 1.5rem;
// }
img {
  object-fit: cover;
  width: 100%;
}
/* DISPLAY */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
}

/* HEADER */
header {
  height: 100vh;
}
header .header {
  background: top / cover no-repeat url("/img/background_header.svg");
  z-index: 10;
  padding: 1rem;
  height: 47.5vh;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-logo-container {
  width: 40vw;
  max-width: 900px;
  padding-top: 4rem;
}

.header-logo-container img {
  margin-left: auto;
  margin-right: auto;
}

.header-tagline {
  color: #012c3f;
  font-weight: 200;
  text-transform: uppercase;
}

// NAV
header nav {
  background-color: white;
  height: 5vh;
}

footer nav a {
  color: white !important;
}

footer nav ul {
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;

  @include media-breakpoint-up(sm) {
    gap: 2rem;
  }
  @include media-breakpoint-up(lg) {
    gap: 4rem;
  }
}
nav li {
  list-style: none;
  font-weight: 200;
}
a {
  letter-spacing: 0.05em;
  position: relative;
}

a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:after {
  background: #2f2d2d;
}

a:hover:after {
  width: 100%;
  left: 0;
}

// SECTIONS
section {
  margin: 0;
}
section.big-quote {
  background: center / cover no-repeat url("/img/background_launch-test.png");
  height: 47.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.big-quote blockquote {
  color: #f5fefa;
  font-size: 3rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}

section,
footer .center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
}

section h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

section.services {
  background-color: #e8efec;
  height: 95vh;
}

section.services h1 {
  color: #d8e2df;
}

section.services h2 {
  font-size: 1rem;
  font-weight: 600;
}

section.services .col {
  color: #012c3f;
}

section.services p,
section.services h2 {
  margin: 0;
}

div .work-img {
  height: 47.5vh;
}

section.projects {
  height: 95vh;
  background-color: #f5eee3;
}

section.projects h1 {
  color: #dddbd3;
}

section.contact {
  background-color: #b9cdcc;
  height: 95vh;
}

section.contact h1 {
  color: #759092;
}

footer {
  background-color: #012c3f;
  height: 80vh;
  position: relative;
}

footer .row {
  margin-right: auto;
  margin-left: auto;
}
footer .footer-logo {
  width: 25vw;
}

footer .powered-by {
  color: #bfd0db;
  font-weight: 200;
  text-transform: uppercase;
}

/* GLOBAL TEXT STYLING */
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
a {
  text-decoration: none;
}
.f-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.f-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
.f-vidaloka {
  font-family: "Vidaloka", serif;
}
h1 {
  font-weight: 800;
  margin: 0 0 1.5rem 0;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin: 1rem 0;
  font-size: 0.8rem;
}

@media (min-width: 390px) {
}
@media (min-width: 550px) {
  .project-logo-wrapper img {
    width: 40%;
  }
}
@media (min-width: 850px) {
  section {
    margin: 0;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1500px) {
}
@media (min-width: 1900px) {
}
@media (hover: hover) {
  @media (min-width: 850px) {
  }
  @media (min-width: 1500px) {
  }
}
